@font-face {
  font-family: "Gilroy";
  src: "./assets/Radomir Tinkov - Gilroy-Regular.otf";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  min-height: 100vh;
  width: 100%;
}

@keyframes shake {
  from {
    transform: translate(10rem, -10rem);
  }
  to {
    transform: translate(-5rem, 5rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
